.login {
  @include flex-row;
  width: 11%;
}

.login__language-select {
  background-color: transparent;
  border: 0 none;
  color: $white-color;
  appearance: none;
  background-image: url("../img/icon-open-menu.png");
  background-repeat: no-repeat;
  background-position: 33px 5px;
  width: 45px;
}

.login__language-select option {
  background-color: $light-purple-color;
  border: 0 none;
  color: $white-color;
  appearance: none;
}

.login__avatar {
  background-image: url("../img/icon-circle-login.svg");
  background-color: transparent;
  width: 54px;
  height: 54px;
}

.login__icon {
  margin-left: 33%;
  margin-top: 33%;
}
