.opinion {
  @include background-section;
  @include section;
  background: linear-gradient(45deg, $dark-purple-color, $light-purple-color);
  background-image: url("../img/background-opinion.png");

  @media (max-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.opinion__wrapper {
  @include page-width;
  @include flex-row;
  flex-wrap: no-wrap;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.opinion__header-buttons {
  width: 44%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.opinion__header {
  color: $white-color;
  font-size: 60px;
  margin-bottom: 30px;
}

.opinion__button-toggle {
  @include toggle;
  background-color: $white-color;
  border-radius: 50%;
}

.opinion__button-toggle--left {
  background-image: url("../img/icon-toggle-left-black.svg");
}

.opinion__button-toggle--right {
  background-image: url("../img/icon-toggle-right-white.png");
  background-color: #0eb1e7;
  background-size: 12px 12px;
  background-position: 50% 50%;
}

.opinion__list {
  @include flex-row;
  @include cancel-list;
  flex-wrap: wrap;
  width: 55%;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.opinion__item {
  @include section-item;
  width: 48%;
  background-color: #b252e9;
  padding: 30px 0;
  background-image: url("../img/background-opinion-item.png");
  background-size: cover;
  margin-right: 10px;
}

.opinion__item-wrapper {
  padding: 30px;
}

.opinion__image-wrapper {
  background-image: url("../img/background-opinion-item-image.png");
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/opinion-quotes.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    top: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 30;
  }
}

.opinion__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.opinion__item-text {
  color: $white-color;
  margin-bottom: 10px;
}

.opinion__item-star-list {
  @include cancel-list;
  @include flex-row;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.opinion__item-star-item {
  margin-right: 5px;
}

.opinion__item-author {
  font-size: 20px;
  color: $white-color;
  font-weight: bold;
  margin-bottom: 10px;
}

.opinion__item-span {
  color: $orange-color;
  font-weight: bold;
  font-size: 14px;
}
