.promo {
  padding-bottom: 55px;
  background-image: url("../img/background-promo.png");
  background-position: left calc(50% + 325px) top 0;
  background-repeat: no-repeat;
  background-size: 894px 684px;
  padding-top: 37px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    background-size: 400px 400px;
  }

  @media (max-width: $mobile-width) {
    background-image: none;
  }
}

.promo__wrapper {
  @include page-width;
}

.promo__header {
  font-size: 62px;
  color: $white-color;
  line-height: 62px;
  width: 50%;
  font-family: $worksans-Bold;
  margin-bottom: 13px;
  padding-top: 35px;

  @media (max-width: $tablet-width) {
    font-size: 50px;
    width: 80%;
  }

  @media (max-width: $mobile-width) {
    font-size: 30px;
    line-height: 32px;
    width: 100%;
    padding-top: 20px;
  }
}

.promo__text {
  font-family: $worksans-regular;
  font-size: 44px;
  line-height: 50px;
  color: $white-color;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 30px;
  }
}

.promo__text-main {
  font-family: $karla-regular;
  font-size: 17px;
  line-height: 30px;
  color: $white-color;
  width: 38%;
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    width: 68%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.promo__buttons {
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.promo__button-services {
  @include button;
  background: $double-green-color;
  border: none;
  padding: 10px 45px;
  margin-right: 20px;

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.promo__button-discover {
  @include button;
  background-color: transparent;
  border: 1px solid $white-color;
  padding: 7px 40px;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.promo__button-toggle {
  @include toggle;
}

.promo__button-toggle--left {
  background-image: url("../img/icon-toggle-left.svg");
}

.promo__button-toggle--right {
  background-image: url("../img/icon-toggle-right.svg");
}
