.quality {
  @include section;
  background-image: url("../img/background-quality.png");
  background-repeat: no-repeat;
  background-position: 42% 40px;
  background-size: 65% 113%;
  padding-bottom: 160px;

  @media (max-width: $tablet-width) {
    background-size: 500px 300px;
    background-position: 50% 0;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    background-image: none;
  }
}

.quality__wrapper {
  @include page-width;
}

.quality__column {
  margin-left: 60%;
  padding-top: 66px;
  width: 40%;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-left: 0;
    padding-top: 280px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.quality__span {
  @include section-span;
}

.quality__header {
  @include section-header;
}

.quality__text {
  @include section-text;
}

.quality__icon {
  margin-bottom: 20px;

  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.quality__list {
  @include cancel-list;
  @include flex-row-left;
}

.quality__item {
  margin-bottom: 20px;
  margin-right: 33px;
  background-color: $light-blue-color;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 25px;
  padding-top: 80px;
  text-align: center;
  position: relative;
  width: 30%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: calc(20% + 24px);
    width: 48px;
    height: 45px;
    background-repeat: no-repeat;
  }

  &--customers::before {
    background-image: url("../img/icon-customers.svg");
  }

  &--works::before {
    background-image: url("../img/icon-works.svg");
  }
}

.quality__item-number {
  font-size: 38px;
  line-height: 30px;
  color: $section-span-color;
  font-family: $worksans-Bold;
  margin-bottom: 10px;
  letter-spacing: 2.5px;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.quality__item-text {
  @include item-text;
  letter-spacing: 1.06px;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 22px;
  }
}
