@font-face {
  font-family: "Karla-Regular";

  src: url("../fonts/Karla-Regular.woff") format("woff"),
    url("../fonts/Karla-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla-Bold";

  src: url("../fonts/Karla-Bold.woff") format("woff"),
    url("../fonts/Karla-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Bold";

  src: url("./fonts/WorkSans-Bold.woff") format("woff"),
    url("./fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Regular";

  src: url("./fonts/WorkSans-Regular.woff") format("woff"),
    url("./fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
