@mixin background-section {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin section {
  padding: 100px 0;

  @media (max-width: $tablet-width) {
    padding: 40px 0;
  }
}

@mixin page-width {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

@mixin cancel-list {
  list-style: none;
}

@mixin button {
  color: $white-color;
  font-size: 17px;
  line-height: 40px;
  font-family: $karla-bold;
  border-radius: 30px;
}

@mixin section-span {
  font-size: 18px;
  line-height: 20px;
  color: $section-span-color;
  font-family: $karla-bold;
  margin-bottom: 20px;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    text-align: center;
  }
}

@mixin section-header {
  font-size: 45px;
  line-height: 55px;
  color: rgb(1, 12, 57);
  font-family: $worksans-regular;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 40px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 26px;
    line-height: 28px;
    width: 100%;
    text-align: center;
  }
}

@mixin section-text {
  font-size: 17px;
  line-height: 26px;
  color: rgb(120, 120, 120);
  font-family: $karla-regular;
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 16px;
  }
}

@mixin section-list {
  @include cancel-list;
  @include flex-row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@mixin section-item {
  @media (max-width: $tablet-width) {
    width: 48%;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

@mixin white-link {
  text-decoration: none;
  color: $white-color;
  font-size: 17px;
  font-family: $karla-bold;
}

@mixin toggle {
  background-color: transparent;
  border: none;
  width: 49px;
  height: 49px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin item-header {
  font-family: $worksans-Bold;
  font-size: 23px;
  letter-spacing: 0.7px;
  color: $dark-blue-bg-color;
  font-weight: bold;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

@mixin item-text {
  font-size: 16px;
  line-height: 26px;
  color: $black-color;
  font-family: $karla-regular;

  @media (max-width: $tablet-width) {
    font-size: 14px;
  }
}
