$karla-regular: "Karla-Regular", "Arial", sans-serif;
$karla-bold: "Karla-Bold", "Arial", sans-serif;
$worksans-Bold: "WorkSans-Bold", "Arial", sans-serif;
$worksans-regular: "WorkSans-Regular", "Arial", sans-serif;
$white-color: #ffffff;
$black-color: #000000;
$dark-purple-color: #8930dd;
$light-purple-color: #e663f9;
$double-purple-bg: linear-gradient(45deg, $dark-purple-color, $light-purple-color);
$dark-green-color: #2bb6c2;
$light-green-color: #6ad3aa;
$double-green-color: linear-gradient(45deg, $dark-green-color, $light-green-color);
$dark-blue-color: #010c39;
$section-span-color: #a841e6;
$light-blue-color: #f5fbff;
$light-blue-bg-color: #f7fbff;
$dark-blue-bg-color: #010c39;
$grey-color: #787878;
$green-color: #6ad3aa;
$yellow-color: #ffe640;
$tablet-width: 1439px;
$mobile-width: 767px;
$orange-color: #ffc500;
